//base
*,*:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	background: #f9f9f9;
	position: relative;
}
.full-width {
	width:100%;
	clear: both;
}

//svg icons
.icon {
	display: inline-block;
	width: 32px;
	height: 32px;
	fill: currentColor;
}
.icon-map {
	/*fill: #000000;*/
}
.icon-pencil {
	/*fill: #000000;*/
}
.icon-menu {
	fill: $brown;
}

//buttons
.primary-btn {
	background: $brown;
	border: 0;
	padding:$spaceS $spaceS;
	text-align: center;
	color: #fff;
	cursor: pointer;
	font-family: 'Roboto Slab', serif;
	&:hover {
		background: lighten($brown,10%);
	}
}