#map {
	height: 200px;
	@media (min-width: 768px){
		height: 350px;
	}
}
section {
	.form {
		padding:15px 0;
		form {
			label,input,textarea {
				display: block;
				width: 100%;
				margin-top: $spaceS;
			}
			textarea {
				height:150px;
				border: 1px solid $brown-dark;
				border-radius: 4px;
			}	
			input{
				padding: $spaceS;
				border: 1px solid $brown-dark;
				border-radius: 4px;
			}
			@media (min-width: 768px){
				width: 80%;
			}
		}
		@media (min-width: 768px){
			width: 60%;
			display:inline-block;
			vertical-align: top;
		}
	}
	.details {
		padding:15px 0;
		line-height: 1.8em;
		@media (min-width: 768px){
			padding-top: 130px;
			width: 38%;
			display:inline-block;
			vertical-align: top;
			text-align: center;
		}
	}
}
.contact {
		background: #DAC6A9;
		color: $brown-dark;
		.primary-btn {
			text-transform: uppercase;
			@media (min-width: 768px){
			width: initial;
			float: right;
			border:1px solid #fff;
		}
			&:hover {
				background: $brown-light;
			}
		}
	}