//used for margin and padding
$spaceXS:			5px;
$spaceS:			10px;
$spaceM:			15px;
$spaceL:			20px;

//colours
$brown:			#6c3b32;
$brown-light:	#794238;
$brown-lighter:	#B86555;
$brown-dark:	#522D26;		
$peach: 		#F88873;
